body nav{
  height: 5em;
  width: 100%;
  top: 0;
  background-color: #4240a1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;

  .fa-angle-double-down{
    color: red;
    text-align: center;
  }
  
  span{
    font-family: 'Bungee', cursive;
    padding: 1.5em;
  }
}



.newtwt{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.totop{
  height: 3em;
  width: 3em;
  max-width: 75px;
  top: 85vh;
  right: 45vw;
  background-color: red;
  color: #FFFFFF;
  position: fixed;
  z-index: 2;
  border-radius: 100%;
  display: none;
  justify-content:center;
  align-items: center;
  flex-direction: column;

  .fa-angle-double-up{
    color: #FFFFFF;
    text-align: center;
  }
}

