header{
  position: absolute;
  height: 400px;
  width: 100%;
  top: 110px;
  display: flex;
  justify-content:center;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  z-index: -1;
}
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

