article.tweet {
  width: 95%;
  max-width: 70ch;
  min-width: 35ch;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
  margin: 2.5%;
  border: solid black 0.1em;
  padding: 1%;
}
article.tweet header {
  height: 25%;
  position: unset;
  background-color: #f4f1ec;
  background-image: none;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}
article.tweet header div {
  height: 100%;
}
article.tweet div {
  height: 45%;
  position: unset;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  font-size: 1em;
}
article.tweet footer {
  justify-content: space-between;
  flex-direction: row;
  align-self: flex-end;
  display: inline-flex;
  width: 100%;
  border-width: 0;
  border-top-width: 0.2em;
  border-color: black;
  border-style: solid;
  padding: 0.1em;
  font-size: 0.8em;
}
article.tweet footer div {
  height: 100%;
}
article.tweet footer div .fa-solid {
  color: black;
}
