body nav{
  height: 120px;
  width: 100%;
  top: 0;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

span{
  font-family: 'Bungee', cursive;
  padding: 1.5em;
}

.newtwt{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.fa-angle-double-down{
  color: red;
  text-align: center;
}