.new-tweet{
  display: none;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

form{
  width: 100%;
}
#tweet-text{
  width: 95%;
  resize: none;
  border-width: 0;
  border-bottom-width: 0.2em;
  background-color:  #f4f1ec;;
}

.tweeterr{
  display:none;
  border-style: solid;
  border-width: 0.2em;
  border-color: red;
  color: red;
  height: 2em;
  margin: 2em;
}


.undertweet{
  display: flex;
  justify-content: space-between;
}
button{
  align-self:flex-start;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  left: 2.5%;
  position: relative;
}
.counter{
  position: absolute;
  align-self: flex-end;
  right: 2.5%;
}